.emacs.d/auto-save-list
.emacs.d/bookmarks
.emacs.d/elpa
.emacs.d/history
.emacs.d/projectile-bookmarks.eld
.emacs.d/ido.last
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/url
projectile.cache
/.emacs.d/ac-comphist.dat
