elpa
# spell-fu uses this dir for cached intermediates -- huge files which we want to exclude from code search.
spell-fu/
.emacs.desktop
.emacs.desktop.lock
# Cache directory for compiled elisp code
eln-cache
# Magit uses the Transient library to store command history
transient
# Used by lsp-mode to store session information
.lsp-session-v1
